@import '@/styles/elevation';

.button {
  @include elevation;
  box-shadow: $elevation-2;

  background: transparent;
  outline: none;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: box-shadow .125s ease-out;
  margin: 0;

  &:hover {
    box-shadow: $elevation-4;
    transition: box-shadow .125s ease-in;
  }

  &:active {
    box-shadow: $elevation-2;
  }

  &:focus {
    box-shadow: $elevation-2;
  }
}
