@import '@/styles/elevation';
@import '@/styles/typography';

.button {
  @include elevation;
  @include typography(1.5, 600);

  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: $elevation-2;
  background: transparent;
  outline: none;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: box-shadow .125s ease-out;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;

  &:active,
  &:focus,
  &:hover {
    box-shadow: $elevation-4;
    transition: box-shadow .125s ease-in;
  }
}

.noElevation {
  box-shadow: $elevation-0;
  padding: 0;

  &:active,
  &:focus,
  &:hover {
    box-shadow: $elevation-0;
    padding: 0;
  }
}
