@import '@/styles/layout';

.cardLabel {
  position: relative;

  &::before {
    content: " ";
    width: 0.5rem;
    height: 4rem;
    background: var(--secondary-color);
    display: flex;
    position: absolute;
    left: -1rem;
    top: 0;

    @media (min-width: $tablet-breakpoint-px) {
      left: -3rem;
    }
  }
}
