@import '@/styles/elevation';

.elevation-0 {
  @include elevation;
}

.elevation-1 {
  @include elevation;
  box-shadow: $elevation-1;
}

.elevation-2 {
  @include elevation;
  box-shadow: $elevation-2;
}

.elevation-3 {
  @include elevation;
  box-shadow: $elevation-3;
}

.elevation-4 {
  @include elevation;
  box-shadow: $elevation-4;
}

.elevation-5 {
  @include elevation;
  box-shadow: $elevation-5;
}

.elevation-6 {
  @include elevation;
  box-shadow: $elevation-6;
}
