@import '@/styles/layout';

.thumbnail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 26.5rem;

  @media (min-width: $tablet-breakpoint-px) {
    padding: 1rem;
    margin: 1rem;
  }
}
