.menuButton {
  position: relative;
  z-index: 10;
}

.menuSVG1,
.menuSVG2 {
  fill: var(--foreground-hex);
  transition: transform 0.5s ease-out, fill 0.5s ease-out;
}

.menuSVG1 {
  transform-origin: 65% 56%;
}

.activeSVG1 {
  transform: rotate(45deg);
  transition: transform 0.5s ease-in, fill 0.5s ease-in;
  fill: var(--primary-color);
}

.menuSVG2 {
  transform-origin: 65% 44%;
}

.activeSVG2 {
  transform: rotate(-45deg);
  transition: transform 0.5s ease-in, fill 0.5s ease-in;
  fill: var(--secondary-color);
}
