@import '@/styles/layout';

.layout {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  background: var(--background-hex);
}

.home {
  background: linear-gradient(to bottom,
      var(--background-hex-dark) 0%,
      var(--background-hex-dark) 50%,
      var(--background-hex) 50%,
      var(--background-hex) 100%);

  @media (min-width: $mobile-breakpoint-px) {
    background: linear-gradient(to right,
        var(--background-hex-dark) 0%,
        var(--background-hex-dark) 50%,
        var(--background-hex) 50%,
        var(--background-hex) 100%)
  }
}
