@import '@/styles/layout';

.layout {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  background: linear-gradient(to bottom,
      var(--primary-color) 0%,
      var(--primary-color) 50%,
      var(--secondary-color) 50%,
      var(--secondary-color) 100%);

  @media (min-width: $mobile-breakpoint-px) {
    height: 100%;
    background: linear-gradient(to right,
        var(--primary-color) 0%,
        var(--primary-color) 50%,
        var(--secondary-color) 50%,
        var(--secondary-color) 100%)
  }
}
